*{
    border:0;
    margin:0;
    padding:0;
}

h1{
    color:aliceblue;
}

header{
    background-color:rgb(2, 15, 23);
    width:100%;
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;

}
body{
     background-color:rgb(233, 232, 232);
}
article{
    position:relative;
    width:100%;
    height:auto;
    padding:10px;
   }


.containers{
    display:block;
    position:relative;
    background-color:white;
    border:10px solid white;
    border-radius:2%;
    height:100px;
    width:200px;/*change to auto*/
    margin:10px;
}

aside{
    text-align:center;
    height:30px;
    background-color: white;
    border:2px solid black;
    margin:20px;
}