.landing {
  height:100vh;
  width:100vw;
  position:relative;
  overflow:hidden;
}

.landing button {
  padding:17px 40px;
  border-radius:10px;
  cursor:pointer;
  border:0;
  background:hsl(261deg 80% 48%);
  box-shadow:0 0 8px rgba(0,0,0,0.05);
  letter-spacing:1.5px;
  text-transform:uppercase;
  font-size:15px;
  font-weight:600;
  transition:all .5s ease;
  position:absolute;
  top:55%;
  left:50%;
  transform:translateX(-50%);
  z-index:1001;
}

.landing button:hover {
  letter-spacing:3px;
  background:hsl(261deg 80% 48%);
  color:#ffffff;
  box-shadow:0 7px 29px 0 rgb(93 24 220 / 100%);
  transform:translate(-50%, -2px);
}

.landing button:active {
  letter-spacing:3px;
  background:hsl(261deg 80% 48%);
  color:#ffffff;
  box-shadow:0 0 0 0 rgb(93 24 220 / 100%);
  transform:translate(-50%, 10px);
  transition:100ms;
}

.landing button:focus-visible {
  outline:none;
  box-shadow:0 0 0 3px rgba(93,24,220,.5),0 7px 29px 0 rgb(93 24 220 / 100%);
}